* {
  padding: 0;
  margin: 0;
  background-color: #eee;
}
.text {
  h1{
    top: 10%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  h3{
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}
.comment-box{
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}