$blau :#86b0b6;
* {
  background-color: #eee;
  font-family:'Comic Sans MS';
}
.comment-box{
  top: 30%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  textarea{
    width: 100%;
    height: 150%;
    padding: 65px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid $blau;
  }
  textarea:focus{
    border: 1px solid #000;
    outline: 0;
  }
  input{
    width: 100%;
    height: 50%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid $blau;
  }
  button{
    border: 0;
    padding: 10px 30px;
    background: $blau;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
  }
}